body
{
    background: #222;
}

.form
{
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px #333;
    border: 3px solid #0BF;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input
{
    margin-bottom: 30px;
    background-color: #FFF;
    border: none;
    border-radius: 5px;
    font-family: "calibri";
    color: #222;
    border-bottom: 3px solid #0BF;
    border-radius: 0;
    outline: none;
}

.error
{
    color: red;
    font-size: 20px;
    font-family: "calibri";
}


button
{
    background-color: white;
    border: 3px solid #0BF;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
button:hover
{
    cursor: pointer;
    background-color: #0BF;
    transition: background-color 200ms ease;
}

.font
{
    font-size: 20px;
    font-family: "calibri";
    color: #333;
}